### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [3]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data= pd.read_csv(file_to_load)

In [ ]:
#variables

In [87]:
# check to see if correct file linked-if yes, comment out
#purchase_data

## Player Count

* Display the total number of players

In [86]:
#calculation for total number of players
total_players=purchase_data["SN"].value_counts().count()
player_count_df=pd.DataFrame({"Total Players":[total_players]})
player_count=player_count_df.iloc[0,0]
player_count_df

   Total Players
0            576

In [314]:
player_count=player_count_df.iloc[0,0]

576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [83]:
#calculations for num of unique items
unique_items=purchase_data["Item ID"].value_counts().count()
unique_items

179

In [78]:
#calculation for avergae cost of each item
avg_price=purchase_data["Price"].mean()
avg_price

3.050987179487176

In [75]:
#calculations for # of purchases
num_purchases=purchase_data["Price"].count()
num_purchases

780

In [72]:
#calculation for total revenue
total_revenue=purchase_data["Price"].sum()
total_revenue

2379.77

In [93]:
#how to display the summary data frame
purchase_analysis_df=pd.DataFrame({
"Number of Unique Items": [unique_items],
"Average Price": [avg_price],
"Number of Purchase": [num_purchases],
"Total Revenue": [total_revenue]}
 )
purchase_analysis_df

   Number of Unique Items  Average Price  Number of Purchase  Total Revenue
0                     179       3.050987                 780        2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [428]:
# % and count of male and female players

#create a new table with just SN and gender to make sure you do not double count players

grouped_SN = purchase_data[['SN','Gender']]
unique_purchase_df = grouped_SN.drop_duplicates(subset='SN')

gender_demographics = unique_purchase_df["Gender"].value_counts()
gender_demographics=pd.DataFrame(gender_demographics)
gender_demographics

                       Gender
Male                      484
Female                     81
Other / Non-Disclosed      11

In [441]:
male_count=gender_demographics.loc["Male","Gender"]
#print(male_count)
male_percent=(male_count/total_players)
#print(male_percent)

In [442]:
female_count=gender_demographics.loc["Female","Gender"]
#print(female_count)
female_percent=(female_count/total_players)
#print(female_percent)

In [443]:
other_count=gender_demographics.loc["Other / Non-Disclosed","Gender"]
#print(other_count)
other_percent=(other_count/total_players)
#print(other_percent)

In [444]:
demo_sum_df=pd.DataFrame({
    "Total Count":[male_count,female_count,other_count],
    "Percent of Players":[male_percent,female_percent,other_percent],
    "Gender": ["Male","Female","Other/Non-Disclosed"]})

demo_sum_df['Percent of Players'] = demo_sum_df['Percent of Players'].map("{:,.2%}".format)

demographics_summary_df=demo_sum_df.set_index("Gender")
demographics_summary_df

                     Total Count Percent of Players
Gender
Male                         484             84.03%
Female                        81             14.06%
Other/Non-Disclosed           11              1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [409]:
# Purchase count calculations by gender
group_purchase_gender_df = purchase_data.groupby(["Gender"])
#print(group_purchase_gender_df)
group_purchase_gender_df.count()

#num of purchase
num_purchases=group_purchase_gender_df["Item ID"].count()
#print(num_purchases)

#avg purchase price by gender
avg_purchases=group_purchase_gender_df["Price"].mean()
#print(avg_purchases)

#total purchase value by gender
total_purchase_value=group_purchase_gender_df["Price"].sum()
#print(total_purchase_value)

#avg total per person by gender
total_purchase_g_df=pd.DataFrame(total_purchase_gender)
total_purchase_g_df

female_pp=(total_purchase_g_df.loc["Female","Price"])/female_count
#print(female_pp)

male_pp=(total_purchase_g_df.loc["Male","Price"])/male_count
#print(male_pp)

other_pp=(total_purchase_g_df.loc["Other / Non-Disclosed","Price"])/other_count
#print(other_pp)

#create summary table for Purchase Analysis by Gender

purchase_by_gender_summary=pd.DataFrame({
    "Purchase Count":num_purchases,
    "Average Purchase Price": avg_purchases,
    "Total Purchase Value": total_purchase_value,
    "Avg Total Purchase Per Person": [female_pp,male_pp,other_pp]
})

#summary table
purchase_by_gender_summary

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase Per Person
Gender,,,,
Female,113,3.203009,361.94,4.468395
Male,652,3.017853,1967.64,4.065372
Other / Non-Disclosed,15,3.346000,50.19,4.562727

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [493]:
#Make new table with no duplicates so age of player not  double counted

grouped_SN = purchase_data[['SN','Gender']]
unique_purchase_df = grouped_SN.drop_duplicates(subset='SN')


grouped_age = purchase_data [['Age','SN']]
unique_age_df = grouped_age.drop_duplicates(subset='SN')
#unique_age_df

In [494]:
#find max (45)
max_age=unique_age_df["Age"].max()

#create bins and labels
bins=[0,9,14,19,24,29,34,39,45]

age_labels=["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"]

#use unique_age_df to make sure people are not double counted
pd.cut(unique_age_df["Age"],bins,labels=age_labels)

0      20-24
1        40+
2      20-24
3      20-24
4      20-24
       ...
773    20-24
774    10-14
775    20-24
777    20-24
778      <10
Name: Age, Length: 576, dtype: category
Categories (8, object): ['<10' < '10-14' < '15-19' < '20-24' < '25-29' < '30-34' < '35-39' < '40+']

In [529]:
unique_age_df["Age Group"] = pd.cut(unique_age_df["Age"],bins,labels=age_labels)
unique_age_df.head()

age_breakdown=unique_age_df.groupby("Age Group")

#print(age_breakdown["Age Group"].count())

age_breakdown[["Age Group","SN"]].count()

age_demo_df=age_breakdown[["Age Group","SN"]].count()

#get value without formatting

age_demo_df['SN']=age_demo_df['SN']/(age_demo_df['SN'].sum())

age_demo_df.columns=["Total Count", "Percent of Total Players"]

#age_demo_df

#formatting
age_demo_df['Percent of Total Players'] = age_demo_df['Percent of Total Players'].map("{:,.2%}".format)
age_demo_df

<ipython-input-529-ee2d5395c32c>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  unique_age_df["Age Group"] = pd.cut(unique_age_df["Age"],bins,labels=age_labels)

           Total Count Percent of Total Players
Age Group
<10                 17                    2.95%
10-14               22                    3.82%
15-19              107                   18.58%
20-24              258                   44.79%
25-29               77                   13.37%
30-34               52                    9.03%
35-39               31                    5.38%
40+                 12                    2.08%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [582]:
#pull columns you need Sn, Age, Price to make df with write columns

age_price_holder = purchase_data.loc[:, ["Age", "Price", "SN"]]
age_price_df=pd.DataFrame(age_price_holder)
#age_price_df

In [574]:
#create bins and labels
bins=[0,9,14,19,24,29,34,39,45]

age_labels=["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"]


pd.cut(age_price_df["Age"],bins,labels=age_labels)

#place new group "age group" in data frame
age_price_df["Age Group"]=pd.cut(age_price_df["Age"],bins,labels=age_labels)

age_groupby_df=age_price_df.groupby("Age Group")
age_groupby_df

In [600]:
#find out how many purchases fall into each bin=purchase count column
pur_count_col=age_groupby_df["Price"].count()
#print(pur_count_col)

In [601]:
#find out avg purchase price
avg_pur_pr=age_groupby_df["Price"].mean()
#print(avg_pur_pr)

In [602]:
#find out total purchase value
tot_pur_value=age_groupby_df["Price"].sum()
#print(tot_pur_value)

In [604]:
#find out avg total purchase per person
avg_pur_pp=(age_groupby_df["Price"].sum()/age_demo_df["Total Count"])
#print(avg_pur_pp)

In [823]:
#create summary for purchasing analysis(age)

pur_analysis_age=pd.DataFrame({
    "Purchase Count":(pur_count_col),
    "Average Purchase Price":(avg_pur_pr),
    "Total Purchase Value":(tot_pur_value),
    "Avg Total Purchase per Person":(avg_pur_pp)
})

pur_analysis_age

#formatting


pur_analysis_age=pur_analysis_age.style.format({
    "Average Purchase Price":"${:,.2f}",
    "Total Purchase Value": "${:,.2f}",
    "Avg Total Purchase per Person":"${:,.2f}"})

#pur_analysis_age
#pur_analysis_age["Average Purchase Price"]=pur_analysis_age["Average Purchase Price"].map("${:,.3}".format)
#pur_analysis_age["Total Purchase Value"]=pur_analysis_age["Total Purchase Value"].map("${:,.3}".format)
#pur_analysis_age["Avg Total Purchase per Person"]=pur_analysis_age["Avg Total Purchase per Person"].map("${:,.3}".format)
pur_analysis_age

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [648]:
# pull columns i need to show players with most purchases top 5 
top_column=purchase_data.loc[:, ["Price", "SN","Item Name"]]
#top_column

In [647]:
# groupby by SN
sn_purchases=top_column.groupby("SN")
#type(sn_purchases)

In [646]:
# find purchase count by sn

sn_pur_count=sn_purchases["Item Name"].count()
#sn_pur_count

In [644]:
#avg purchase purchase price

sn_avg_pur=sn_purchases["Price"].mean()
#sn_avg_pur

In [645]:
#total purchase purchase value

sn_tot_pur=sn_purchases["Price"].sum()
#sn_tot_pur

In [655]:
#create summary table

top_spenders=pd.DataFrame({
    "Purchase Count": (sn_pur_count),
    "Average Purchase Price": (sn_avg_pur),
    "Total Purchase Value": (sn_tot_pur)
})      

top_spenders

#sorted total purchase value high to low

sort_top_spender=top_spenders.sort_values("Total Purchase Value",ascending=False)
final_top_spender=sort_top_spender.head()
final_top_spender

#formattings

final_top_spender["Average Purchase Price"]=final_top_spender["Average Purchase Price"].map("${:,.3}".format)
final_top_spender["Total Purchase Value"]=final_top_spender["Total Purchase Value"].map("${:,.4}".format)
final_top_spender

<ipython-input-655-da3ae8e44abf>:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_top_spender["Average Purchase Price"]=final_top_spender["Average Purchase Price"].map("${:,.3}".format)
<ipython-input-655-da3ae8e44abf>:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_top_spender["Total Purchase Value"]=final_top_spender["Total Purchase Value"].map("${:,.4}".format)

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                   $3.4               $13.62
Iskadarya95               3                  $4.37                $13.1

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [763]:
#pull columns i need
pop_col=purchase_data.loc[:, ["Price", "Item ID","Item Name"]]
pop_col

grouped_multiple=pop_col.groupby(["Item ID", "Item Name"])
#grouped_multiple

In [762]:
#purchase count
pop_purchase=grouped_multiple["Price"].count()
#print(pop_purchase)

In [850]:
#item price
pop_item_price=grouped_multiple["Price"].mean()
#print(pop_item_price)

In [788]:
#total purchase value
pop_tot_value=grouped_multiple["Price"].sum()
#print(pop_tot_value)

In [870]:
#create summary table

pop_summary= pd.DataFrame({
    "Purchase Count":(pop_purchase),
    "Item Price":(pop_item_price),
    "Total Purchase Value":(pop_tot_value)
})

pop_summary


#formatting

pop_summary["Item Price"]=pop_summary["Item Price"].map("${:,.3}".format)
pop_summary["Total Purchase Value"]=pop_summary["Total Purchase Value"].map("${:,.2f}".format)
pop_summary


#sorted purchase count  high to low

pop_summary_sort=pop_summary.sort_values("Purchase Count",ascending=False)
final_pop_summary=pop_summary_sort.head()
final_pop_summary

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
132,Persuasion,9,$3.22,$28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [871]:
#create summary table

most_profit=pop_summary.sort_values(by = ["Purchase Count","Total Purchase Value"],ascending=False)
most_profit.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.9,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77